<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713670047612-33jcprscj8bis8krdf3c4llvacb7q86o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713670047612-33jcprscj8bis8krdf3c4llvacb7q86o</string>
	<key>API_KEY</key>
	<string>AIzaSyBXsZ_ezjQCA5_VneDWAkc3YTCGNTeRu5o</string>
	<key>GCM_SENDER_ID</key>
	<string>713670047612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christian.BoxSwift</string>
	<key>PROJECT_ID</key>
	<string>heartboxarduino</string>
	<key>STORAGE_BUCKET</key>
	<string>heartboxarduino.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713670047612:ios:7534d74411d1b8953c96f9</string>
	<key>DATABASE_URL</key>
	<string>https://heartboxarduino-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>